@font-face {
  font-family: 'tt norms';
  src: url("ttnorms-bold-webfont.woff2") format("woff2"), url("ttnorms-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tt norms';
  src: url("ttnorms-medium-webfont.woff2") format("woff2"), url("ttnorms-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'tt norms';
  src: url("ttnorms-regular-webfont.woff2") format("woff2"), url("ttnorms-regular-webfont.woff") format("woff");
  font-weight: regular;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0);
  overflow: hidden;
}

body {
  font-family: 'tt norms', Arial, sans-serif;
  font-style: normal;
  min-width: 375px;
}

.a:hover {
  color: #0085ff;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 375px;
  max-width: 767px;
}

@media (min-width: 992px) {
  .container {
    max-width: 1320px;
    min-width: 991px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container_tablet {
    min-width: 768px;
    max-width: 991px;
    padding: 0 40px;
  }
}

.header-bg {
  background: linear-gradient(45deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
  padding-top: 20px;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 148px;
}

.header-box-lang-phone {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-lang__btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 5px;
}

.header-lang__btn:hover {
  background-color: #f0145a;
  border-radius: 8px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header-adress {
  font-weight: regular;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-align: right;
  display: none;
  margin-left: 25px;
  margin-right: 25px;
}

.header__separator {
  display: none;
}

.header-facebook {
  display: none;
  width: 24px;
  height: 24px;
}

.header-facebook_item:hover {
  fill: #24a3ff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header-tel__item {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3ba;
}

.header-tel__item:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__logo {
  grid-column-start: 1;
  grid-row-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo-link {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 78px;
  height: 31px;
  display: block;
  margin-right: 5px;
}

.header__bread-crumbs {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bread-crumbs-item {
  font-weight: regular;
  font-size: 38px;
  line-height: 45px;
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
}

.header-menu {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: end;
}

.header-burger-menu {
  position: relative;
  display: block;
}

.header-burger-menu__toggle {
  display: none;
}

.header-burger-menu-icon {
  padding-top: 8px;
  position: relative;
  display: block;
  cursor: pointer;
  height: 32px;
  width: 32px;
  z-index: 101;
}

.header-burger-menu-button__line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  right: 6px;
  display: block;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.second {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.third {
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.header-burger-menu-nav {
  display: block;
  position: absolute;
  width: 200px;
  right: 0;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  bottom: 0;
  -webkit-transform: translateY(85%);
          transform: translateY(85%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  z-index: 100;
}

.header-burger-menu-nav__item-p {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
}

.header-burger-menu-nav__item {
  display: block;
  width: 100%;
  color: #24a3ff;
  margin: 13px auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}

.header-burger-menu-nav__item:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header-burger-menu__toggle:checked ~ .header-burger-menu-nav {
  max-height: 275px;
  font-size: 24px;
  background-color: rgba(50, 50, 100, 0.9);
  border-radius: 5px 5px 12px 12px;
}

.header-burger-menu__toggle:checked ~ .header-burger-menu-icon .first {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f0145a;
}

.header-burger-menu__toggle:checked ~ .header-burger-menu-icon .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #f0145a;
}

.header-burger-menu__toggle:checked ~ .header-burger-menu-icon .second {
  display: none;
}

.header-menu-main {
  display: none;
}

.header-menu-main-item {
  font-weight: medium;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #fff;
  text-decoration: none;
  margin-right: 16px;
}

.header-menu-main-item:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header-menu-main-item:active {
  color: #f0145a;
  text-decoration: underline;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-menu {
    grid-row-start: 3;
    grid-column-start: 1;
    justify-self: start;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-box-lang-phone {
    grid-row-start: 1;
    grid-column-start: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__logo {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .header-burger-menu {
    display: none;
  }
  .header__logo-link {
    width: 155px;
    height: 62px;
  }
  .header-adress {
    display: block;
  }
  .header-facebook {
    display: block;
  }
  .header-tel__item {
    color: #fff;
  }
  .header-menu-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-tel {
    margin-right: 25px;
  }
}

@media (min-width: 992px) {
  .header-box-lang-phone {
    grid-row-start: 1;
    grid-column-start: 2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .header-adress {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-burger-menu {
    display: none;
  }
  .header-menu-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header-menu-main-item {
    margin-left: 16px;
    margin-right: 0;
  }
  .header__logo-link {
    width: 155px;
    height: 62px;
  }
  .header-facebook {
    display: block;
    margin-left: 10px;
  }
  .header__separator {
    display: block;
  }
  .header-tel {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-lang {
    margin-right: 10px;
  }
}

.top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 138px;
  padding-bottom: 20px;
  position: relative;
}

.top-block__heading {
  padding-bottom: 200px;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.top-block__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.top-block::before {
  content: url(../img/p.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 445px;
  mask-image: linear-gradient(355deg, rgba(50, 50, 100, 0) 40%, #323264 75%);
  -webkit-mask-image: linear-gradient(355deg, rgba(50, 50, 100, 0) 40%, #323264 75%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 430px;
  height: 688px;
  right: 50px;
}

.top-block::after {
  content: url(../img/bg-pattern-desktop.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 689px;
  height: 644px;
  top: 360px;
  z-index: 0;
  display: none;
}

@media (min-width: 992px) {
  .top-block::after {
    display: block;
  }
  .top-block__heading {
    max-width: 595px;
  }
}

.services-bg {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
}

.services {
  padding-top: 40px;
  margin-bottom: 43px;
}

.services-slider-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 45px;
}

.services-slider {
  width: 335px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.services-slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-slider__item {
  width: 335px;
}

.services-slider__item-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f0145a;
  padding-bottom: 10px;
}

.services-slider__item-caption {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  padding-bottom: 15px;
}

.services-slider__item-text {
  font-weight: regular;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-list-link {
  padding-bottom: 5px;
  width: 335px;
}

.services-list-link__item {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
}

.services-list-link__item:hover {
  opacity: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.services-list__heading {
  font-size: 32px;
  line-height: 38px;
  color: #f0145a;
  padding-bottom: 20px;
  max-width: 335px;
}

.services-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-list__item {
  padding-bottom: 40px;
  max-width: 335px;
}

.services-list-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list__item-link {
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #24a3ff;
  text-decoration: none;
}

.services-list__item-link:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.services-list__item-icon {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-list__item-text {
  font-weight: regular;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.services-list__item-pad {
  padding-bottom: 17px;
}

.services::before {
  content: '';
  width: calc(100% - 10.66%);
  height: 10px;
  background: #cacadb;
  border-radius: 0 0 12px 12px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  bottom: -15px;
}

.services::after {
  content: '';
  width: calc(100% - 21.33%);
  height: 10px;
  background: #e7e7f2;
  border-radius: 0 0 12px 12px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  bottom: -25px;
}

.services-slider-nav {
  max-width: 106px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-slider-nav__btn {
  width: 16px;
  height: 16px;
  background-color: #24a3ff;
  opacity: 0.2;
  border-radius: 50%;
  border: none;
}

.services-slider-nav__btn:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.services-slider-nav__btn:active {
  opacity: 100%;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.services-slider-desktop-box {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: none;
}

.services-slider-desktop-nav-items {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 570px;
}

.services-slider-desktop-nav-items:last-child {
  padding-bottom: 0;
}

.services-slider-desktop__link {
  border-right: 4px solid #e6e6f0;
  padding-right: 40px;
  padding-bottom: 10px;
  text-align: end;
}

.services-slider-desktop__link:hover {
  border-right: solid 4px #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.services-slider-desktop__link-item {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: end;
  text-decoration: none;
  color: #b3b3ba;
}

.services-slider-desktop__link-item:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.services-slider-desktop-slides-box {
  overflow: hidden;
  width: 640px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-slider-desktop-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-slider-desktop-slides__item {
  width: 640px;
  padding-left: 40px;
}

.services-slider-desktop-slides__item-heading {
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  padding-bottom: 20px;
}

.services-slider-desktop-slides__item-text {
  font-size: 21px;
  line-height: 30px;
  color: #fff;
}

@media (min-width: 992px) {
  .services-slider-box {
    display: none;
  }
  .services-slider-desktop-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .services-list-link {
    max-width: 1320px;
  }
  .services-list__heading {
    max-width: 1320px;
    padding-bottom: 68px;
  }
  .services-list-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 48px;
    max-width: 1320px;
  }
  .services-list__item {
    max-width: none;
    padding-bottom: 10px;
  }
}

.our-team {
  max-width: 335px;
  padding-bottom: 30px;
}

.our-team-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-team-slider {
  width: 335px;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  margin-top: 5px;
}

.our-team-slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team-box__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  text-decoration: none;
  padding-bottom: 5px;
}

.our-team-box__link:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.our-team-box__link:hover .our-team-box__arrow {
  stroke: #f0145a;
}

.our-team-slider__item {
  width: 335px;
  background: #f5f5fa;
  border-radius: 12px;
  padding: 20px 5px 27px 20px;
}

.our-team-slider__item-heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #f0145a;
  padding-bottom: 10px;
}

.our-team-slider__item-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team-slider__item-person-foto {
  width: 60px;
  height: 60px;
  border-radius: 120px;
  margin-right: 10px;
}

.our-team-slider__item-person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team-slider__item-person-info-1 {
  font-style: normal;
  font-weight: medium;
  font-size: 18px;
  line-height: 21px;
  color: #b3b3ba;
  text-decoration: none;
}

.our-team-slider__item-person-info-1:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.our-team-slider__item-person-info-2 {
  font-weight: regular;
  font-size: 16px;
  line-height: 22px;
  color: #b3b3ba;
  padding-top: 5px;
}

.our-team-slider-nav {
  max-width: 76px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.our-team-slider-nav__btn {
  width: 16px;
  height: 16px;
  background-color: #24a3ff;
  opacity: 0.2;
  border-radius: 50%;
  cursor: pointer;
  border-style: none;
}

.our-team-slider-nav__btn:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.our-team-slider-nav__btn:active {
  opacity: 100%;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.our-team-slider__item-person-foto-desktop {
  display: none;
}

@media (min-width: 992px) {
  .our-team-slider {
    width: 1320px;
    margin-bottom: 20px;
  }
  .our-team-slider__item {
    width: 1320px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .our-team-slider__item-person-foto {
    display: none;
  }
  .our-team-slider__item-person-foto-desktop {
    display: block;
  }
  .our-team-slider__item-things {
    padding: 40px;
  }
  .our-team-slider__item-heading {
    font-size: 42px;
    line-height: 50px;
    padding-bottom: 20px;
  }
  .our-team {
    padding-bottom: 95px;
  }
}

.our-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-ch {
  border-radius: 12px 12px 0 0;
}

.last-ch {
  border-radius: 0 0 12px 12px;
}

.our-partners__item {
  max-width: 335px;
  padding: 20px;
  background: #f5f5fa;
  margin-bottom: 2px;
}

.our-partners__item-text {
  font-weight: medium;
  font-size: 18px;
  line-height: 21px;
  color: #686887;
  padding-bottom: 10px;
}

.our-partners__item-brand {
  font-weight: regular;
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
}

.our-partners_margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .our-partners__item {
    max-width: 440px;
    height: 100%;
    background-color: #f5f5fa;
  }
  .our-partners-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1px;
    -webkit-column-gap: 1px;
       -moz-column-gap: 1px;
            column-gap: 1px;
  }
  .first-ch {
    border-radius: 12px 0 0 0;
  }
  .last-ch {
    border-radius: 0 0 12px 0;
  }
  .third-ch {
    border-radius: 0 12px 0 0;
  }
  .fourth-ch {
    border-radius: 0 0 0 12px;
  }
  .our-partners_margin {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.our-partners-gallery {
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.our-partners-gallery__caption {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 30px;
}

.our-partners-gallery__brands {
  max-width: 375px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  line-height: 0;
}

@media (min-width: 992px) {
  .our-partners-gallery {
    margin-top: 95px;
  }
  .our-partners-gallery__brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1320px;
  }
}

.publications {
  padding-top: 20px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5fa;
}

.publications-box__link {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.publications-box__link:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.publications-box__link:hover .publications-box__link-icon {
  stroke: #f0145a;
}

.publications__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #f0145a;
}

.publications__item {
  margin-bottom: 30px;
  width: 335px;
  background-color: #fff;
  border-radius: 8px;
}

.publications__item-pad {
  padding: 20px;
}

.publications__item-link {
  padding-bottom: 10px;
  font-weight: medium;
  font-size: 18px;
  line-height: 21px;
  color: #24a3ff;
  text-decoration: none;
}

.publications__item-link:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.publications__item-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  padding-top: 10px;
}

.publications__item-box {
  border-top: 4px solid #e6e6f0;
  display: none;
}

.publications__item-box-text {
  font-weight: regular;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  padding-top: 20px;
}

.desktop-blok {
  display: none;
}

@media (min-width: 992px) {
  .publications__item {
    width: 414px;
  }
  .publications__item-pad {
    width: 414px;
  }
  .publications__item-text {
    padding-bottom: 20px;
  }
  .publications__item-box {
    display: block;
  }
  .desktop-blok {
    display: block;
  }
  .publications-articles-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 55px;
  }
  .publications__item-foto {
    width: 100%;
  }
  .publications {
    padding-bottom: 55px;
  }
}

.button {
  width: 250px;
  height: 50px;
  background-color: #24a3ff;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0085ff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.button:active {
  background-color: #006ccf;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.footer {
  padding-bottom: 112px;
  background-color: #f5f5fa;
}

.footer__separator {
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}

.footer-box {
  border-top: 4px solid #e6e6f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-linl-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-adress-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__adress {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
  padding-bottom: 10px;
  padding-top: 20px;
}

.footer__map {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  text-decoration: none;
}

.footer__map:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer-facebook-tel-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__facebook {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 38px;
  height: 38px;
}

.footer__facebook-link:hover .footer__facebook-icon {
  fill: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer-tel {
  margin-bottom: 20px;
}

.footer-tel__item {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466e;
}

.footer-tel__item:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer-mail {
  margin-bottom: 20px;
}

.footer-mail__item {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #24a3ff;
  text-decoration: none;
}

.footer-mail__item:hover {
  color: #f0145a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer__copyright {
  font-weight: medium;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #b3b3ba;
  padding-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-adress-map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
  .footer-facebook-tel-mail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer__separator {
    display: block;
  }
  .footer__adress {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__facebook {
    margin: 0;
  }
  .footer-tel {
    margin: 0;
  }
  .footer-mail {
    margin-bottom: 0;
  }
  .footer {
    padding-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .footer-adress-map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 30px;
  }
  .footer-facebook-tel-mail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer__separator {
    display: block;
  }
  .footer__adress {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer__facebook {
    margin: 0;
  }
  .footer-tel {
    margin: 0;
  }
  .footer-mail {
    margin-bottom: 0;
  }
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-linl-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__copyright {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 30px;
  }
  .footer {
    padding-bottom: 10px;
  }
}

.service-page-header-bg {
  background-color: #323264;
  position: relative;
  z-index: -2;
}

.service-page-header-bg::after {
  content: url(../img/service-page-bg.jpg);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 252px;
  position: absolute;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(50, 50, 100, 0.1)), to(#323264)), url(241305.jpg);
  -webkit-mask-image: linear-gradient(360deg, rgba(50, 50, 100, 0.1) 0%, #323264 100%), url(241305.jpg);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(50, 50, 100, 0.1)), to(#323264)), url(241305.jpg);
          mask-image: linear-gradient(360deg, rgba(50, 50, 100, 0.1) 0%, #323264 100%), url(241305.jpg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  z-index: -1;
}

.service-page-header-consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.service-page-header-consultation__icon {
  padding-bottom: 20px;
  padding-top: 20px;
}

.service-page-header-consultation__heading {
  font-size: 32px;
  line-height: 38px;
  color: #f0145a;
  padding-bottom: 20px;
  max-width: 860px;
}

.service-page-header-consultation__text {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  padding-bottom: 30px;
  max-width: 860px;
}

.button_service {
  margin-top: 20px;
  margin-bottom: 40px;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 992px) {
  .service-page-header-consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services-page-bg {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
}

.service-page-trends {
  border-top: 4px solid #e6e6f0;
}

.service-page-trends__heading {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
}

.service-page-trends::before {
  content: '';
  width: calc(100% - 10.66%);
  height: 10px;
  background: #cacadb;
  border-radius: 0 0 12px 12px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  bottom: -15px;
}

.service-page-trends::after {
  content: '';
  width: calc(100% - 21.33%);
  height: 10px;
  background: #e7e7f2;
  border-radius: 0 0 12px 12px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  bottom: -25px;
}

.service-page-trends__list-item {
  color: #f0145a;
  padding-bottom: 20px;
}

.service-page-trends__list-item-text {
  font-size: 18px;
  color: #fff;
  padding-bottom: 20px;
}

.service-page-trends__list {
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .service-page-trends__list {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .service-page-trends__heading {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.contact-pop-up {
  width: 375px;
  background-color: #f5f5fa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px 20px 85px 20px;
  display: none;
}

.contact-pop-up-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-pop-up-heading__text {
  font-weight: medium;
  font-size: 20px;
  line-height: 26px;
  color: #f0145a;
  padding-right: 20px;
}

.contact-pop-up__text {
  background: #fff;
  border-radius: 8px;
  border: none;
  font-weight: regular;
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 335px;
  padding: 10px;
}

.contact-pop-up__text-head {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}

.button_form {
  display: block;
  margin: 0 auto;
}

.contact-pop-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .contact-pop-up {
    width: 487px;
    padding: 20px 20px 20px 20px;
  }
  .contact-pop-up-heading__text {
    font-size: 30px;
    line-height: 38px;
  }
}

/*# sourceMappingURL=style.css.map */
