$main: #323264;
$main_alt: #46466e;
$main_soft: #46466e;
$accent: #f0145a;
$active: #24a3ff;
$hover_active: #0085ff;
$active_active: #006ccf;
$bg: #f5f5fa;
$bg_alt: #ededf7;
$text: #b3b3ba;
$separator: #e6e6f0;
$shadow_services-1: #cacadb;
$shadow_services-2: #e7e7f2;
$brand_text: #686887;
